#page_2 .album_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#page_2 .album_cover img {
  width: 80%;
  border-radius: 20px;
  margin-bottom: 50px;
}

#page_2 .artist_name,
#page_2 .music_title {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#page_2 .music_title {
  font-size: 25px;
  font-weight: bold;
}
#page_2 .artist_name {
  font-size: 15px;
  color: #a7a7a6;
}

#page_2 .music {
  margin-top: 20px;
  display: grid;
  place-content: center center;
}

#page_2 .music_time {
  width: 220px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
#page_2 .music_timeline hr {
  margin-top: 15px;
}
#page_2 .music_timeline .pot {
  position: relative;
  top: -18px;
  right: -80px;
}

#page_2 .play_icons {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page_2 .play_icons .fa-repeat,
#page_2 .play_icons .fa-shuffle {
  color: #ffffff86;
}

#page_2 .play_icons .fa-pause {
  font-size: 35px;
}
